body {
    background-image: linear-gradient(to right, rgb(17, 31, 116), rgb(20, 175, 180));
}


.foot {
    display: flex;
    justify-content: space-between;
    padding-top: 23em;
}



.werr {
    display: flex;
    border: 0;
    border-style: solid;
    border-color: burlywood;
    padding-left: 1em;
    padding-bottom: 10px;
    border-radius: 5px;
    color: rgb(214, 223, 214);
}

.qwer {
    padding-left: 8em;
}


.bort {
    border-radius: 20px;
    margin-left: 10px;
}

/* .parag {
    border: 1px;
    border-style: solid;
    border-color: aqua;
    padding-left:1em;
    padding-bottom: 5px;
    border-radius: 5px;
} */

.parag {
    margin-left: 1em;
}